body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: rgb(232, 226, 226);
}

.navbara {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  /* background-color: rgb(127, 145, 139); */
  background-color: rgb(0, 51, 0);
  height: 70px;
  z-index: 5;
}

.navbara a {
  text-decoration: none;
  color: white;
}

.head-title {
  font-size: 2em;
  color: white;
}

.head-item1 {
  font-size: 1.5em;
  margin-right: 1.5rem;
  color: white;
}

.head-item2 {
  font-size: 1.5em;
  margin-right: 1em;
  color: white;
}

.container-img-1 {
  padding: 0%;
  margin: 0%;
}

.img-1 {
  width: 100vw;
  margin: 0px;
  padding: 0;
}

.heading-1 {
  margin-top: 2em;
  margin-bottom: 1em;
}

.heading-2 {
  margin-top: 3em;
}

.heading-2-content {
  margin: auto;
  justify-content: center;
  align-items: center;
}
.mid-text {
  font-size: 1.4rem;
}

.mid-text-img {
  box-shadow: 2px 2px 4px #555;
  border-radius: 2rem;
  min-width: 220px;
}

.heading-2-list {
  font-size: 1.4rem;
}
.heading-2-list li {
  font-weight: bold;
}
.button-end {
  border-radius: 20px;
  font-size: 2rem;
  padding: 10px 15px;
  background-color: rgb(58, 144, 58);
  cursor: pointer;
  color: black;
  font-weight: 500;
}

.button-end:hover {
  background-color: rgb(12, 85, 12);
  color: white;
  font-weight: 500;
  transition: 0.15s all;
  transform: scaleX(1.03);
  border: 5px solid rgb(120, 182, 120);
  /* transform: scaleY(1.1); */
}

.img-last {
  border-radius: 20px;
  max-width: 600px;
  border-radius: 2rem;
  box-shadow: 2px 2px 4px #555;
}

@media (max-width: 1200px) {

  .mid-text {
    font-size: 1.2rem;
  }

  .img-last {
    max-width: 400px;
  }
  .heading-2-list {
    font-size: 1.1rem;
  }
}

@media (max-width: 990px) {
  .mid-text {
    font-size: 1rem;
  }

  .img-last {
    max-width: 400px;
  }
  .heading-2-list {
    font-size: 1.1rem;
  }
}

@media (max-width: 800px) {
  .container-diabetes {
    flex-direction: column-reverse;
  }
}
