<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Heart Disease Detector</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='Style/new_predict_heart.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="navbar-container">
      <nav class="navbar navbara navbar-dark d-flex">
        <div class="container-fluid head-container">
          <a
            class="navbar-brand mb-3 h1 head-title mx-3 nav-head"
            href="{{ url_for('heart_main') }}"
            >Heart Disease Prediction</a
          >
          <ul>
            <a class="head-item1" href="{{url_for('landing')}}">Home</a>
            <a class="head-item2" href="{{url_for('contact')}}">Contact Us</a>
          </ul>
        </div>
      </nav>
    </div>
    <br />
    <br />
    <div class="container-fluid form-container">
      <form action="{{url_for('heart')}}" method="post">
        <div class="row mb-2">
          <div class="title">
            <h2>Prediction</h2>
          </div>
        </div>
        <div class="row mb-4">
          <div class="form-group col-sm-10 col-md-6">
            <label for="male" class="details">Gender</label>
            <input
              type="text"
              name="male"
              placeholder="Enter Gender"
              class="form-control"
              required
            />
          </div>
          <div class="form-group col-sm-10 col-md-6">
            <label for="age" class="details">Age</label>
            <input
              class="form-control"
              type="text"
              name="age"
              placeholder="Enter Age"
              required
            />
          </div>
        </div>

        <div class="row mb-4">
          <div class="form-group col-sm-10 col-md-6">
            <label class="details" for="currentsmoker"
              >Do you smoke currently?</label
            >
            <input
              type="text"
              name="currentsmoker"
              class="form-control"
              placeholder="Yes or No"
              required
            />
          </div>
          <div class="form-group col-sm-10 col-md-6">
            <label class="details" for="cig">How many cigarettes a day?</label>
            <input
              type="text"
              name="cig"
              class="form-control"
              placeholder="Enter number of cigarettes"
              required
            />
          </div>
        </div>

        <div class="row mb-4">
          <div class="form-group col-sm-10 col-md-6">
            <label class="details" for="bpmed"
              >Do you take any BP medication?</label
            >
            <input
              type="text"
              name="bpmed"
              class="form-control"
              placeholder="Yes or No"
              required
            />
          </div>
          <div class="form-group col-sm-10 col-md-6">
            <label class="details" for="prevalentsmoke"
              >Any prevalent Stroke condition?</label
            >
            <input
              type="text"
              class="form-control"
              name="prevalentsmoke"
              placeholder="Yes or No"
              required
            />
          </div>
        </div>

        <div class="row mb-4">
          <div class="form-group col-sm-10 col-md-6">
            <label for="prevalenthyp" class="details"
              >Are you hypertensive?</label
            >
            <input
              type="text"
              name="prevalenthyp"
              class="form-control"
              placeholder="Yes or No"
              required
            />
          </div>
          <div class="form-group col-sm-10 col-md-6">
            <label for="diabetes" class="details">Do you have Diabetes?</label>
            <input
              type="text"
              name="diabetes"
              class="form-control"
              placeholder="Yes or No"
              required
            />
          </div>
        </div>

        <div class="row mb-4">
          <div class="form-group col-sm-10 col-md-6">
            <label for="totchol" class="details">Total cholesterol level</label>
            <input
              type="text"
              name="totchol"
              class="form-control"
              placeholder="Enter current level"
              required
            />
          </div>
          <div class="form-group col-sm-10 col-md-6">
            <label for="sysbp" class="details">Systolic blood pressure</label>
            <input
              type="text"
              name="sysbp"
              class="form-control"
              placeholder="Enter value"
              required
            />
          </div>
        </div>

        <div class="row mb-4">
          <div class="form-group col-sm-10 col-md-6">
            <label for="diabp" class="details">Diastolic blood pressure </label>
            <input
              type="text"
              name="diabp"
              class="form-control"
              placeholder="Enter value"
              required
            />
          </div>
          <div class="form-group col-sm-10 col-md-6">
            <label for="bmi" class="details">Body Mass Index(BMI)</label>
            <input
              type="text"
              name="bmi"
              class="form-control"
              placeholder="Enter BMI"
              required
            />
          </div>
        </div>

        <div class="row mb-4">
          <div class="form-group col-sm-10 col-md-6">
            <label for="heartrate" class="details">Heart Rate</label>
            <input
              type="text"
              name="heartrate"
              class="form-control"
              placeholder="Enter heart rate"
              required
            />
          </div>
          <div class="form-group col-sm-10 col-md-6">
            <label for="glucose" class="details">Glucose level </label>
            <input
              type="text"
              name="glucose"
              class="form-control"
              placeholder="Enter glucose level"
              required
            />
          </div>
        </div>
        <h3>Your Result: {{Heart_text}}</h3>
        <button class="button btn" type="submit">Predict</button>
      </form>
    </div>
  </body>
</html>


<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Style/predict_heart.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <nav class="navbara">
      <div class="container-fluid">
        <a class="head-main" href="{{url_for('heart_form')}}"
          >Heart Disease Prediction

        <ul>
          <li>
            <a class="head_text" href="{{url_for('landing')}}">Home</a>

            <a class="head_text" href="{{url_for('contact')}}">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="title">Prediction</div>
      <div class="content">
        <form action="{{url_for('heart')}}" method="post">
          <div class="user-details">
            <div class="input-box">
              <span class="details">Gender</span>
              <input
                type="text"
                name="male"
                placeholder="Enter Gender"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Age</span>
              <input
                type="text"
                name="age"
                placeholder="Enter Age"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Do you smoke currently?</span>
              <input
                type="text"
                name="currentsmoker"
                placeholder="Yes or No"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">How many cigarettes a day?</span>
              <input
                type="text"
                name="cig"
                placeholder="Enter number of cigarettes"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Do you take any BP medication?</span>
              <input
                type="text"
                name="bpmed"
                placeholder="Yes or No"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Any prevalent Stroke condition?</span>
              <input type="text" name="prevalentsmoke" placeholder="Yes or No" required />
            </div>
            <div class="input-box">
              <span class="details">Are you hypertensive?</span>
              <input type="text" name="prevalenthyp" placeholder="Yes or No" required />
            </div>
            <div class="input-box">
              <span class="details">Do you have Diabetes?</span>
              <input
                type="text"
                name="diabetes"
                placeholder="Yes or No"
                required
              />
            </div>

            <div class="input-box">
              <span class="details">Total cholesterol level</span>
              <input
                type="text"
                name="totchol"
                placeholder="Enter current level"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Systolic blood pressure</span>
              <input
                type="text"
                name="sysbp"
                placeholder="Enter value"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Diastolic blood pressure </span>
              <input
                type="text"
                name="diabp"
                placeholder="Enter value"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Body Mass Index(BMI)</span>
              <input
                type="text"
                name="bmi"
                placeholder="Enter BMI"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Heart Rate</span>
              <input
                type="text"
                name="heartrate"
                placeholder="Enter heart rate"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Glucose level </span>
              <input
                type="text"
                name="glucose"
                placeholder="Enter glucose level"
                required
              />
            </div>
          </div>

          <h3>Your Result: {{Heart_text}}</h3>
          <button class="button" type="submit">Predict</button>
        </form>
      </div>
    </div>
  </body>
</html> -->
