<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>Prediction</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='Style/new_predict_cancer.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <div class="navbar-container">
      <nav class="navbar navbara navbar-light d-flex">
        <div class="container-fluid head-container">
          <span class="navbar-brand mb-3 h1 head-title mx-3 nav-head"
            >Breast Cancer Prediction</span
          >
          <ul>
            <a class="head-item1" href="{{url_for('landing')}}">Home</a>
            <a class="head-item2" href="{{url_for('contact')}}">Contact Us</a>
          </ul>
        </div>
      </nav>
    </div>

    <div class="container-fluid form-container">
      <form action="{{url_for('breast')}}" method="post">
        <div class="row mb-2">
          <div class="title">
            <h2>Prediction</h2>
          </div>
        </div>
        <div class="row mb-4">
          <div class="form-group col-sm-10 col-md-6">
            <label for="thickness" class="details">Clump Thickness</label>
            <input
              type="text"
              name="thickness"
              placeholder="Enter Clump Thickness"
              class="form-control"
              required
            />
          </div>
          <div class="form-group col-sm-10 col-md-6">
            <label for="cell_size" class="details"
              >Uniformity of Cell Size</label
            >
            <input
              type="text"
              name="cell_size"
              class="form-control"
              placeholder="Enter Uniformity of Cell Size"
              required
            />
          </div>
        </div>

        <div class="row mb-4">
          <div class="form-group col-sm-10 col-md-6">
            <label for="cell_shape" class="details"
              >Uniformity of Cell Shape</label
            >
            <input
              type="text"
              name="cell_shape"
              class="form-control"
              placeholder="Enter Uniformity of Cell Shape"
              required
            />
          </div>
          <div class="form-group col-sm-10 col-md-6">
            <label for="Adhesion" class="details">Marginal Adhesion</label>
            <input
              type="text"
              name="Adhesion"
              class="form-control"
              placeholder="Enter Marginal Adhesion"
              required
            />
          </div>
        </div>
        <div class="row mb-4">
          <div class="form-group col-sm-10 col-md-6">
            <label for="Single Epithelial Cell" class="details"
              >Single Epithelial Cell Size</label
            >
            <input
              type="text"
              name="Single Epithelial Cell"
              class="form-control"
              placeholder="Enter Single Epithelial Cell Size"
              required
            />
          </div>
          <div class="form-group col-sm-10 col-md-6">
            <label for="Bare Nuclei" class="details"
              >Number of Bare Nuclei</label
            >
            <input
              type="text"
              class="form-control"
              name="Bare Nuclei"
              placeholder="Enter Number of Bare Nuclei"
              required
            />
          </div>
        </div>

        <div class="row mb-4">
          <div class="form-group col-sm-10 col-md-6">
            <label for="Bland Chromatin" class="details"
              >Number of Bland Chromatin</label
            >
            <input
              type="text"
              name="Bland Chromatin"
              class="form-control"
              placeholder="Enter number of Bland Chromatin"
              required
            />
          </div>
          <div class="form-group col-sm-10 col-md-6">
            <label for="Normal Nucleoli" class="details"
              >Number of Normal Nucleoli</label
            >
            <input
              type="text"
              name="Normal Nucleoli"
              class="form-control"
              placeholder="Enter Number of Normal Nucleoli"
              required
            />
          </div>
        </div>

        <div class="row mb-4">
          <div class="form-group col-sm-10 col-md-12">
            <label for="Mitoses" class="details">Mitoses</label>
            <input
              type="text"
              name="Mitoses"
              class="form-control"
              placeholder="Enter current level"
              required
            />
          </div>
        </div>
        <h3>Your Result: {{breast_text}}</h3>
        <button class="button btn" type="submit">Predict</button>
      </form>
    </div>
  </body>
</html>


<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>Prediction</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='Style/predict_cancer.css') }}"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <nav class="navbara">
      <div class="container-fluid">
        <a class="head-main" href="{{url_for('cancer_form')}}"
          >Breast Cancer Prediction</a
        >

        <ul>
          <li>
            <a class="head_text" href="{{url_for('landing')}}">Home</a>

            <a class="head_text" href="{{url_for('contact')}}">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="title">Prediction</div>
      <div class="content">
        <form action="{{url_for('breast')}}" method="post">
          <div class="user-details">
            <div class="input-box">
              <span class="details">Clump Thickness</span>
              <input
                type="text"
                name="thickness"
                placeholder="Enter Clump Thickness"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Uniformity of Cell Size</span>
              <input
                type="text"
                name="cell_size"
                placeholder="Enter Uniformity of Cell Size"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Uniformity of Cell Shape</span>
              <input
                type="text"
                name="cell_shape"
                placeholder="Enter Uniformity of Cell Shape"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Marginal Adhesion</span>
              <input
                type="text"
                name="Adhesion"
                placeholder="Enter Marginal Adhesion"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Single Epithelial Cell Size</span>
              <input
                type="text"
                name="Single Epithelial Cell"
                placeholder="Enter Single Epithelial Cell Size"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Number of Bare Nuclei</span>
              <input
                type="text"
                name="Bare Nuclei"
                placeholder="Enter Number of Bare Nuclei"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Number of Bland Chromatin</span>
              <input
                type="text"
                name="Bland Chromatin"
                placeholder="Enter number of Bland Chromatin"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Number of Normal Nucleoli</span>
              <input
                type="text"
                name="Normal Nucleoli"
                placeholder="Enter Number of Normal Nucleoli"
                required
              />
            </div>

            <div class="input-box">
              <span class="details">Mitoses</span>
              <input
                type="text"
                name="Mitoses"
                placeholder="Enter current level"
                required
              />
            </div>
          </div>

          <h3>Your Result: {{breast_text}}</h3>
          <button class="button" type="submit">Predict</button>
        </form>
      </div>
    </div>
  </body>
</html> -->
